<!--
==================================================
Call To Action Section Start
================================================== -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        Не вагайтеся, пишіть нам!
                    </h2>
                    <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                        Ви можете написати нам і ми з радістю відповімо.<br>
                        Також Ви можете знайти нас у Вашій улюбленій соціальній мережі.
                        Лінки вказано трішечки нижче.
                    </p>
                    <a href="" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s"
                       data-wow-duration="500ms">
                        Зв'яжіться з нами
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /#call-to-action -->