{% load static %}
<header id="top-bar" class="navbar-fixed-top animated-header">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <!-- /responsive nav button -->

            <!-- logo -->
            <div class="navbar-brand">
                <a href="{% url 'home:home' %}" >
                    <img src="{% static 'images/logo.png' %}" alt="Лого фірми">
                </a>
            </div>
            <!-- /logo -->
        </div>
        <!-- main menu -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <div class="main-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'home:home' %}">Домівка</a>
                    </li>
                    <li><a href="{% url 'about_us:about_us' %}">Про нас</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Продукція <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="{% url 'products:panels' %}">Електрощитове обладнання</a></li>
                                <li><a href="{% url 'products:stabilizers' %}">Стабілізатори</a></li>
                                <li><a href="{% url 'products:ups' %}">ДБЖ</a></li>
                                <li class="dropdown genset-btn">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Генератори <span class="caret"></span></a>
                                    <div class="dropdown-menu genset-dropdown-list" style="display: none; margin-left: 145px; margin-top: -25px;">
                                        <ul>
                                            <li><a href="{% url 'products:genset_list' %}">Всі генератори</a></li>
                                            <li><a href="{% url 'products:single-genset-diesel' %}">Дизельні</a></li>
                                            <li><a href="{% url 'products:single-genset-benzine' %}">Бензинові</a></li>
                                            <li><a href="{% url 'products:single-genset-gas' %}">Газові</a></li>
                                            <li><a href="{% url 'products:single-genset-welding' %}">Зварювальні</a></li>
                                            <li><a href="{% url 'products:single-genset-additional-equipment' %}">Додаткове обладнання</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Наші послуги <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="{% url 'services:service' %}">Сервіс</a></li>
                                <li><a href="{% url 'services:montage' %}">Монтаж</a></li>
                                <li><a href="{% url 'services:installation' %}">Інсталяція</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="{% url 'blog:blog_list' %}">Блог</a></li>
                    <li><a href="{% url 'contacts:contacts' %}">Контакти</a></li>
                </ul>
            </div>
        </nav>
        <!-- /main nav -->
    </div>
</header>