{% extends 'base.html' %}
{% load static %}

{% block head_title %}Блог | {{ block.super}}{% endblock %}

{% block content %}
    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Блог</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'home:home' %}">
                                    <i class="ion-ios-home"></i>
                                    Домівка
                                </a>
                            </li>
                            <li class="active">Блог</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
    =            Full Width Blog            =
    ======================================-->
    <section id="blog-full-width">
        <div class="container">
            <div class="row">
                {% if posts.count > 0 %}
                    {% for post in posts %}
                        <div class="col-md-6">
                            <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                                <div class="blog-post-image">
                                    <a href="{{ post.get_absolute_url }}">
                                        <img class="img-responsive" src="{{ post.blog_images.first.image.url }}" alt="" />
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blogpost-title">
                                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                    </h2>
                                    <div class="blog-meta">
                                        <span>{{ post.timestamp }}</span>
                                        <span> Категорія: {% if post.category %} {{ post.category }} {% else %} без категорії {% endif %}</span>
                                    </div>
                                    <a href="{{ post.get_absolute_url }}" class="btn btn-dafault btn-details">Продовжити читання</a>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <br><br><br><br><br>
                                <h2 class="text-center">Наразі в розділі пусто! Але скоро буде вдосталь інформації.</h2>
                                <br><br><br><br><br>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% include 'includes/call_to_action.html' %}
{% endblock content %}