{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{ post.title }} | {{ block.super}}{% endblock %}

{% block content %}
    <!--
    ==================================================
    Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>{{ post.title | upper }}</h2>
                        <div class="portfolio-meta">
                            <span>{{ post.timestamp }}</span>|
                            <span> Категорія: {% if post.category %} {{ post.category }} {% else %} без категорії {% endif %}</span>
                        </div>
                        <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'home:home' %}">
                                    <i class="ion-ios-home"></i>
                                    Домівка
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'blog:blog_list' %}">
                                    Блог
                                </a>
                            </li>
                            <li class="active">{{ post.title }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#Page header-->

    <section class="single-post">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
{#                    <div class="post-img">#}
{#                        <img class="img-responsive" alt="" src="{% static 'images/blog/post-1.jpg' %}">#}
{#                    </div>#}
                    <div class="post-content">
                        <p>{{ post.content | safe }}</p>
                    </div>
                    <ul class="social-share">
                        <h4>Поділитися статтею</h4>
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                               class="Facebook" style="width: 35px; text-align: center;">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Linkedin">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
{#            {% include 'includes/comments.html' %}#}
        </div>
    </section>
    {% include 'includes/call_to_action.html' %}
{% endblock content %}